<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dyuan.abhiandroid">

    <!-- Add this before application tag -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/abhi_android_logo_250_pixel"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- add your Activities, Receivers, Services names here -->
        <activity android:name=".Activity.MainActivity_GridView2" />
        <activity android:name=".Activity.MainActivity_ListView" />
        <activity android:name=".SecondActivity_GridView" />
        <activity android:name=".Activity.MainActivity_GridView" />
        <activity android:name=".Activity.MainActivity_ScrollView" />
        <activity android:name=".Activity.MainActivity_Spinner" />
        <activity android:name=".Activity.MainActivity_TextView" />
        <activity android:name=".Activity.MainActivity_EditText" />
        <activity android:name=".Activity.MainActivity_Button" />
        <activity android:name=".Activity.MainActivity_ImageView" />
        <activity android:name=".Activity.MainActivity_ImageButton" />
        <activity android:name=".Activity.MainActivity_CheckBox" />
        <activity android:name=".Activity.MainActivity_Switch" />
        <activity android:name=".Activity.MainActivity_RadioButton" />
        <activity android:name=".Activity.MainActivity_RatingBar" />
        <activity android:name=".Activity.MainActivity_WebView" />
        <activity android:name=".Activity.MainActivity_AutoComplete" />
        <activity android:name=".Activity.MainActivity_MultiAutoComplete" />
        <activity android:name=".Activity.MainActivity_ProgressBar" />
        <activity android:name=".Activity.MainActivity_TimePicker" />
        <activity android:name=".Activity.MainActivity_DatePicker" />
        <activity android:name=".Activity.MainActivity_CalendarView" />
        <activity android:name=".Activity.MainActivity_Clock" />
        <activity android:name=".Activity.MainActivity_SeekBar" />
        <activity android:name=".Activity.MainActivity_ExpandableListView" />
        <activity android:name=".Activity.MainActivity_Chronometer" />
        <activity android:name=".Activity.MainActivity_ZoomControls" />
        <activity android:name=".Activity.MainActivity_CheckedTextView" />
    </application>

</manifest>